<head>
    <link rel="stylesheet" href="chatroom.css">
    <title>Chatroom101</title>
</head>

<body>
    <h1 id="welcoming-tag">Welcome to Chatroom101!</h1>
    {{> welcome}}
</body>

<template name="welcome">
    <h1>Welcome!</h1>
    {{message}}
</template>
